{% extends "base.html" %}
{% block title %}
Публикации в категории {{ post }}
{% endblock %}
{% block header%}
<li class="nav-item">
  <a class="nav-link" href="{% url 'blog:index' %}">
    Лента записей
  </a>
</li>
<li class="nav-item">              
  <a class="nav-link" href="{% url 'pages:about' %}">
    О проекте
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:rules' %}">
    Наши правила
  </a>
</li>
{% endblock header %}
{% block content %}
<h1>Публикации в категории {{ post }}</h1>
{% endblock %}

