{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block header%}
<li class="nav-item">
  <a class="nav-link" href="{% url 'blog:index' %}">
    Лента записей
  </a>
</li>
<li class="nav-item">              
  <a class="nav-link" href="{% url 'blog:about' %}">
    О проекте
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'blog:rules' %}">
    Наши правила
  </a>
</li>
{% endblock %}
{% block content %}
{% if post %}
<ul>
  <li>
    Место: {{ post.location }}
  </li>
  <li>
    Дата: {{ post.date }}
  </li>
  <li>
    Категория: <a href="{% url 'blog:category_posts' post.category  %}">{{ post.category }}</a>
  </li>
</ul>          
<p>
  {{ post.text|linebreaksbr }}
</p>
{% else %}
  <p>Такой записи не существует</p>
{% endif %}
{% endblock %}

